<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" type="text/css" href="/../appCSS.css" />
</head>
<body>
    <h1>Error: Could not retrieve information.</h1>
    <h2>Either the weather API is down or you entered invalid input.</h2>
    <br>
    <button id = "backtopage" onclick="location.href = '../'">Weather Form</button>
</body>
</html>