<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/madlibResultsPagecss.css">
    </head>
    <body style = "--background-color: {{color}}">
        <p><b>A Day in the Life of {{name}}</b></p>
        <p>
            Once upon a time, in a land filled with colorful {{noun}}, there lived a person named {{name}}. {{name}} was known throughout the kingdom for their {{adjective}} personality and their extraordinary ability to {{verb}} like no one else.
            One sunny morning, as {{name}} was strolling through the {{noun}}-filled meadow, they suddenly spotted a {{noun}} perched high in a tree. With their {{adjective}} determination, {{name}} decided to {{verb}} up the tree to rescue the stranded creature.
            As {{name}} reached the top of the tree and gently cradled the {{noun}} in their arms, a crowd of amazed onlookers gathered below. They couldn't believe the {{adjective}} {{name}} had just performed such a daring act.
            From that day on, {{name}} became a {{adjective}} legend in the kingdom, known far and wide for their incredible ability to {{verb}} and their {{adjective}} heart. And so, the story of {{name}} and the {{noun}} in the {{noun}}-filled meadow became a beloved tale told for generations to come.
        </p>
        <center><image src = "../static/{{picture}}.png" height = "600vh" width = "600vh" class = "image"></image></center>
    </body>
</html>