<!DOCTYPE html>
<html>
    <body>
        <form action="/madlibsResults" method='POST'>
            <label for="first_input">Name</label>
            <input id="first_input" name="first_input" type="text"><br>
            <br>
            <label for="second_input">Noun</label>
            <input id="second_input" name="second_input" type="text"><br>
            <br>
            <label for="third_input">Verb</label>
            <input id="third_input" name="third_input" type="text"><br>
            <br>
            <label for="fourth_input">Adjective</label>
            <input id="fourth_input" name="fourth_input" type="text"><br>
            <br>
            <select name="fifth_input" id="fifth_input" size="1">
                <option>Dog</option>
                <option>Cat</option>
            </select>
            <br>
            <br>
            <label for="sixth_input">Select background color</label>
            <input id="sixth_input" name="sixth_input" type="color" value="#ff0000"><br>
            <br>
            <input type="submit">
        </form>
    </body>
</html>