<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heroes Form</title>
</head>
<body>
    <form method = "POST" action = "/update_database">
        <label for="hero">Hero:</label>
        <select id="hero" name="hero">
            <option value="0">Archibald</option>
            <option value="1">Henrik</option>
            <option value="2">Isadore</option>
            <option value="3">Lucinda</option>
            <option value="4">Dominic</option>
        </select>
        <br>
        <br>
        <label for="equipment">Equipment:</label>
        <select id="equipment" name="equipment">
            <option value="0">Shield</option>
            <option value="1">Ring</option>
            <option value="2">Cloak</option>
            <option value="3">Sword</option>
            <option value="4">Potion</option>
        </select>
        <br>
        <br>
        <label for="quest">Quest:</label>
        <select id="quest" name="quest">
            <option value="0">Fight 10 people</option>
            <option value="1">Defeat 5 people</option>
            <option value="2">Find 5 apples</option>
            <option value="3">Get a piece of equipment</option>
            <option value="4">Play the game for 5 hours</option>
        </select>
        <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>