<!DOCTYPE html>
<html>
<head>
  Schedule Viewer
</head>

<body>
    <div>
        <table>
            <tr>
              <th>Block</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
            <tr>
              <td><%= final_array[0] %></td>
              <td><%= final_array[1] %></td>
              <td><%= final_array[2] %></td>
            </tr>
          </table>
    </div>
</body>