<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/mainStyle.css">
    </head>
    <body>
        <div>
            <header>Stock Portfolio</header>
            <a href="/updateportfolio" class="mainbuttonlinks">Update Portfolio</a>
            <a href="/investmenthistory" class="mainbuttonlinks">Investment History</a>
            <a href="/explorestocks" class="mainbuttonlinks">Explore Stocks</a>
        </div>
    </body>
</html>