<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/mainStyle.css">
    </head>
    <body>
        <div>
            <header>Log In</header>
            <form method="POST" action="/get_user_information">
                <label for="email">Email:</label> <input type="text" id="email" name="email" required>
                <br>
                <label for="password">Password:</label> <input type="password" id="password" name="pw" required>
                <br>
                <br>
                <input type="submit" value="Submit">
            </form>
            <br>
            <br>
            <br>
            <a href="/signup">Sign Up</a>
        </div>
    </body>
</html>