<!DOCTYPE html>
<html>
    <body>
    <h1>First Assignment Form</h1>
    <form action="query_format" method="GET">
        <label for="first_input">Give me a key</label>
        <input id="first_input" name="format" type="text"><br>
        <input type="submit">
    </form>
    <h1>Second Assignment Form</h1>
    <form action="query_format" method="POST">
        <label for="second_input">Give me a key</label>
        <input id="second_input" name="format2" type="text"><br>
        <input type="submit">
    </form>    
    </body>
</html>