<!DOCTYPE html>
<html>
<head>
  <title>Query String</title>
</head>
<body>

  <p>
    The format key was included in the first request: <%= has_format %> <br>
    The format key was included in the second request: <%= has_format_2 %>
  </p>

</body>
</html>